<!-- Navbar
================================================== -->
<header>
    {{#if user}}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">

                <!-- logo -->
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="Site Logo" style="width:128px;height:128px;" />
                    </a>
                </div>
                <!-- end logo -->

                <!-- top menu -->
                <div class="navigation">
                    <nav>
                        <ul class="nav topnav">
                            <li>
                                <a href="/"><i class="icon-home"></i> Principal </a>
                            </li>
                            <li class="dropdown">
                                <a href="#"><i class="icon-briefcase"></i> Cursos <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/curso/base">Disciplinas Base</a></li>
                                    <li><a href="/curso/eam">Eng. Ambiental</a></li>
                                    <li><a href="/curso/emb">Eng. Mobilidade</a></li>
                                    <li><a href="/curso/eco">Eng. Computação</a></li>
                                    <li><a href="/curso/eca">Eng. Controle e Automação</a></li>
                                    <li><a href="/curso/emt">Eng. Materiais</a></li>
                                    <li><a href="/curso/epr">Eng. Produção</a></li>
                                    <li><a href="/curso/ess">Eng. Saúde e Segurança</a></li>
                                    <li><a href="/curso/EEL">Eng. Elétrica</a></li>
                                    <li><a href="/curso/eme">Eng. Mecânica</a></li>
                                    <li><a href="/curso/todos_cursos">Todos</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/disciplina/todas"><i class="icon-book"></i> Todas as Disciplinas </a>
                            </li>
                            <li class="dropdown">
                                <a href="#"><i class="icon-info-sign"></i> Sobre Nós <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/sobre">O SCAUNIFEI</a></li>
                                    <li><a href="/admin">Administração</a></li>
                                </ul>
                            </li>

                            <!-- user data -->

                            <div class="login-container-auth">
                                <span class="navbar-text" style="float: right">
                                    Seja bem-vindo(a), <strong>{{user.name}}</strong>
                                    <button class="btn btn-theme" type="button" onclick="location.href='/user'"><i
                                            class="icon-pencil"></i>Perfil</button>
                                    <button class="btn btn-theme" type="submit" onclick="location.href='/logout'"><i
                                            class="icon-signout"></i>Sair</button>
                                </span>
                            </div>

                            <!-- end menu -->
                </div>
            </div>
        </div>
        {{else}}
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">

                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="Site Logo" />
                        </a>
                    </div>
                    <!-- end logo -->

                    <!-- top menu -->
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li>
                                    <a href="/"><i class="icon-home"></i> Principal </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><i class="icon-briefcase"></i> Cursos <i
                                            class="icon-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/curso/base">Disciplinas Base</a></li>
                                        <li><a href="/curso/eam">Eng. Ambiental</a></li>
                                        <li><a href="/curso/emb">Eng. Mobilidade</a></li>
                                        <li><a href="/curso/eco">Eng. Computação</a></li>
                                        <li><a href="/curso/eca">Eng. Controle e Automação</a></li>
                                        <li><a href="/curso/emt">Eng. Materiais</a></li>
                                        <li><a href="/curso/epr">Eng. Produção</a></li>
                                        <li><a href="/curso/ess">Eng. Saúde e Segurança</a></li>
                                        <li><a href="/curso/eel">Eng. Elétrica</a></li>
                                        <li><a href="/curso/eme">Eng. Mecânica</a></li>
                                        <li><a href="/curso/todos_cursos">Todos</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/disciplina/todas"><i class="icon-book"></i> Todas as Disciplinas
                                    </a>
                                </li>
                                <li>
                                    <a href="/sobre"><i class="icon-info-sign"></i> Sobre
                                        Nós </a>
                                </li>
                                <li class="dropdown active">
                                    <a href="/registro"><i class="icon-user"></i>
                                        Registre-se </a>
                                </li>
                                <div class="login-container">
                                    <form action="/" method="POST">
                                        <input type="email" placeholder="Email" name="email" id="emailfld"
                                            onkeyup="check_login();">
                                        <input type="password" placeholder="Senha" name="password"
                                            autocomplete="current-password" id="passwordfld" onkeyup="check_login();">
                                        <button class="btn btn-theme" type="submit" id="loginbtn" disabled><i
                                                class="icon-signin"></i>Login</button>
                                        <p class="fpwd">
                                            <a href="/forgot">Esqueci Minha Senha</a>
                                        </p>
                                    </form>
                                    <script>
                                        var check_login = function () {
                                            if (document.getElementById('emailfld').value == '' || document.getElementById('passwordfld').value == '') {
                                                document.getElementById("loginbtn").disabled = true;
                                            }
                                            else {
                                                document.getElementById("loginbtn").disabled = false;
                                            }
                                        }
                                    </script>
                                </div>
                            </ul>
                        </nav>
                    </div>
                    <!-- end menu -->
                </div>
            </div>
        </div>
        {{/if}}
</header>