<head>
  <!-- Site Name -->
  <title>SCAUNIFEI - Sobre</title>
</head>

<!-- Subintro
================================================== -->
<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="/"><i class="icon-home icon-rounded active"></i></a><i class="icon-angle-right"></i>
          </li>
          <li><a href="/sobre">Sobre Nós</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="search">
          <form action="/busca" method="GET" class="input-append">
            <input class="search-form" id="appendedPrependedInput" name="search" type="text"
              placeholder="Faça sua busca aqui..." required>
            <button class="btn btn-dark" type="submit"><i class="icon-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Conteúdo
================================================== -->
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Bem-vindo ao SCAUNIFEI</h2>
        <h5><i class="icon-info-sign icon-circled icon-32 active"></i> Nós te ajudamos a navegar pelas suas
          disciplinas favoritas!</h5>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <!-- start: Accordion -->
        <div class="accordion" id="triple_accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle active" data-toggle="collapse" data-parent="#triple_accordion"
                href="#collapseOne">
                <i class="icon-minus"></i> SCAUNIFEI</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner" align="justify">
                O SCAUNIFEI é um site de compartilhamento de conhecimento feito como um <i>mockup</i> para Universidade
                Federal de Itajubá - <i>campus</i> Itabira. Ele foi desenvolvido usando <a href="https://nodejs.org/en/"
                  target="_blank">Node.js</a> em conjunto com os pacotes: <a href="https://www.npmjs.com/package/bcrypt"
                  target="_blank">Bcrypt</a>, <a href="https://www.npmjs.com/package/express"
                  target="_blank">Express</a>, <a href="https://www.npmjs.com/package/mongoose"
                  target="_blank">Mongoose</a> e <a href="https://www.npmjs.com/package/passport"
                  target="_blank">Passport</a>. Foram utilizadas também as APIs do <a
                  href="https://developers.google.com/gmail/api/" target="_blank">GMail</a> e <a
                  href="https://developers.google.com/drive/api/v3/about-sdk" target="_blank">GDrive</a> para o envio de
                e-mails e armazenamento dos arquivos enviados à plataforma.
                <br> <br> O conjunto de funcionalidades aqui disponibilizadas têm como objetivo a produção do
                trabalho de conclusão de curso (TCC), para a obtenção do grau de Bacharel em Engenharia de Computação.
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#triple_accordion" href="#collapseTwo">
                <i class="icon-plus"></i> Fundador</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner" align="justify">
                <a href="https://www.linkedin.com/in/igor-bonato-matricardi/" target="_blank"> Igor Bonato
                  Matricardi</a>, discente de Engenharia de Computação da Universidade Federal de Itajubá -
                <i>campus</i> Itabira.
              </div>
            </div>
          </div>
        </div>
        <!--end: Accordion -->
      </div>
      <div class="span7">
        <div class="centered">
          <img data-src="img/logo2.png" alt="Universidade Federal de Itajubá" class="lazyload" />
        </div>
      </div>
    </div>
</section>