<!-- Subintro
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home icon-rounded active"></i></a><i class="icon-angle-right"></i>
                    </li>
                    <li><a href="/curso/todos_cursos">Cursos</a>
                </ul>
            </div>
            <div class="span4">
                <div class="search">
                    <form action="/busca" method="GET" class="input-append">
                        <input class="search-form" id="appendedPrependedInput" name="search" type="text"
                            placeholder="Faça sua busca aqui..." required>
                        <button class="btn btn-dark" type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Conteúdo
================================================== -->

<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="center">

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/base"><img src="../img/book.png" alt="Básicas"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/base">Disciplinas Básicas</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/eam"><img src="../img/cursos/eam.jpg" alt="EAM"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/eam">Eng. Ambiental</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/emb"><img src="../img/cursos/emb.png" alt="EMB"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/emb">Eng. de Mobilidade</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/eco"><img src="../img/cursos/eco.jpg" alt="ECO"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/eco">Eng. de Computação</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/eca"><img src="../img/cursos/eca.png" alt="ECA"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/eca">Eng. de Controle e Automação</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/emt"><img src="../img/cursos/emt.jpg" alt="EMT"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/emt">Eng. de Materiais</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/epr"><img src="../img/cursos/epr.jpg" alt="EPR"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/epr">Eng. de Produção</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/ess"><img src="../img/cursos/ess.png" alt="ESS"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/ess">Eng. de Saúde e Segurança</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/eel"><img src="../img/cursos/eel.jpg" alt="EEL"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/eel">Eng. Elétrica</a></h4>
                </div>

                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/curso/eme"><img src="../img/cursos/eme.jpg" alt="EME"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/curso/eme">Eng. Mecânica</a></h4>
                </div>

            </div>
        </div>
</section>